.valentine,
.valentine:focus,
.valentine:hover,
.valentine.use-ajax.processing {
  position: fixed;
  z-index: 1040;
  color: white;
  text-decoration: none;
}

.valentine.simple {
  background-color: red;
  color: white;
  padding: 1em;
  line-height: 1;
}

.valentine.simple:before,
.valentine.simple:after {
  content: ' ♥ ';
}

.valentine.simple.invisible {
  padding: 0;
}

.valentine *,
.valentine + .ajax-progress {
  display: none !important;
}
