:root {
  --valentine-size: 200px;
  --valentine-half-size: calc(var(--valentine-size) / 2);
}

.valentine.heart {
  width: var(--valentine-size);
  height: var(--valentine-size);
  text-align: center;
  line-height: var(--valentine-half-size);
}

.valentine.heart:before,
.valentine.heart:after {
  position: absolute;
  left: var(--valentine-half-size);
  top: 0;
  z-index: -1;
  width: var(--valentine-half-size);
  height: calc(0.8 * var(--valentine-size));
  content: '';
  background-color: red;
  -moz-border-radius: var(--valentine-half-size) var(--valentine-half-size) 0 0;
       border-radius: var(--valentine-half-size) var(--valentine-half-size) 0 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.valentine.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
